.more-screen > .icon-row{
    margin-top: 35px;
}

.kpop-news{
    margin-top:15px;
    border-top: var(--main-border);
    padding-top: 15px;
    width: 100%;
}

.kpop-news__title{
    margin-bottom: 15px;
}
